body {
	background-color:#F0F0F0;
}

h1 {
    font-size:1.5rem;
}

li.comment {
	list-style-type:none;
}
ul {
	padding-left:0;
}
ul ul {
	padding-left:20px;
	border-left:1px solid rgba(0,0,0,0.1);
}

ul ul:hover {
	border-left:1px solid rgba(0,0,0,0.5);
}

span.OC {
	background-color:blue;
	color:white;
}

a {
    color:rgba(0,0,0,0.5)!important;
}
a:hover {
    color:black!important;
    text-decoration:none;
}

#ontop {
    width: 5%;
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    fill:white;
}
#ontop:hover {
    fill:#343A40;
}

#sendComment{
    background:white;
    border-color:black;
    color:black;
}
#createPost{
    background:white;
    border-color:black;
    color:black;
}


#menuTop {
    padding:0;
}

#menuTop2 {
    padding:0;
}

#upper {
	background: #336900 url(https://styles.redditmedia.com/t5_2tzr0/styles/bannerBackgroundImage_dnmbgyjfwn031.png) no-repeat center / cover;
    background-position: center top;
    height: 128px;
}

.unread_count{
	width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: #343a40;
    display: inline-grid;
	color:white
}

.formAction {
	cursor:pointer;
	color: rgba(200,200,200,1);
}
.formAction:hover {
	color: black;
}

.englabel {
	background-image: url(../images/gb.svg);
}
.ruslabel {
	background-image: url(../images/ru.svg);
}
.langChange {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.langChange+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.langChange+label::before {
  content: '';
  display: inline-block;
  width: 2em;
  height: 2em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.langChange:checked+label::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.darklabel {
	background:#343a40;
}
.lightlabel {
	background:#f8f9fa;
}
.themeChange {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.themeChange+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.themeChange+label::before {
  content: '';
  display: inline-block;
  width: 2em;
  height: 2em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.themeChange:checked+label::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.G_left_block {
	z-index:100;
	padding-right: 20px;
    background: #f8f9fa!important;
}
.G_right_block {
	z-index:100;
	right:0;
	background:#f8f9fa!important;
}

.clickable {
	cursor:pointer;
}

.marker {
	width:100%;
	height:0;
	opacity:0;
}
.youtubevideo iframe {
	width:100%;
}

.icons {
    width:20px;
    display:inline-block;
    fill:rgba(0,0,0,0.5);
    margin:0 5px;
	vertical-align:sub;
}
.icons:hover {
    fill:black;
}

.postframe {
    overflow:hidden;
    max-width:fit-content;
    max-height:1000px;
    transition: max-height 1s;
}

.postContent {
	display:flex;
	min-height:200px;
}

.postRow {
    margin-bottom: 10px;
    margin-top: 10px;
}

.postLeft {
    text-align: center;
}

.postRight {
	display: flex;
    flex-direction: column;
	width:100%;
}

.postBottom {
    background:white;
    margin-top:auto;
}
.postlink {
	color:black;
}
.postlink:visited {
	color:black;
}
.postlink:hover {
	color:black;
	text-decoration:none;
}

.vote {
	width:20px;
	cursor:pointer;
	fill:black;
	display:block;
}
.upvote_pressed {
    fill:green;
}
.downvote_pressed {
    fill:red;
}

.addComment {
    color:rgba(0,0,0,0.5);
    background:none;
    border:none;
    cursor:pointer;
    outline:none;
}
.addComment:hover {
    color:black;
}
.addComment:focus {
    outline:none;
}
.commentVote {
    width: 3%;
    display: inline-block;
    text-align: center;
	vertical-align:top;
}

.commentInfo {
    display:inline-block;
    padding-left:20px;
	width:96%;
}

.blured {
	filter:blur(50px);
	cursor:pointer;
}

.navLink {
	cursor:pointer;
}

.myPageItem {
	background-color:#F4F4F4;
	color: rgba(0,0,0,.5);
}
.myPageItem:hover {
	color: rgba(0,0,0,1);
}